$standard_border_radius: 5px;
$avatar_size: 32px;

body {
  background-image: url('/public/img/whale.jpg');
  background-color: #cccccc;
  background-size: cover;
}

.pageTop {
  margin-top: 65px;
}

nav .avatar {
  width: $avatar_size;
  height: $avatar_size;
  padding: 0;
  border-radius: $standard_border_radius;
  border: 1px solid transparent;
  overflow: hidden;
  img {
	width: $avatar_size - 2;
	height: $avatar_size - 2;
	border-radius: $standard_border_radius;
	overflow: hidden;
  }
}


.profile {
  img {
	border-radius: $standard_border_radius;
	margin: 5px 8px;
	width: 115px;
  }

  p{
	background-color: darkgrey;
	border-radius: 5px;
	margin: 5px;
	text-align: center;
	color: white;
  }
}

.whitePanel {
  border-radius: $standard_border_radius;
  background-color: #eeeeee;
  border: 1px solid transparent;
}

ul.timeline {
  padding: 5px;
  li {
    display: block;
    border: 1px solid transparent;
    background-color: darkgray;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;

    img.avatar {
      display: inline-block;
      border-radius: 5px;
      vertical-align: middle;
    }

    h3 {
      display: inline-block;
      vertical-align: top;
      margin: 0 0 0 10px;
      padding: 12px 0 0 0;
      font-size: 20px;
      small {
        padding-left: 10px;
      }
    }

    p {
      margin: 5px 0 10px 60px;
    }

    dl {
      margin: 10px 0 10px 62px;
      font-size: 18px;
      dt, dd {
        padding-right: 10px;
        display: inline-block;
      }
    }
  }
}
